<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Date joined</th>
      <th>Expiration date</th>
      <th>Fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.member_id %></td>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.date_joined %></td>
        <td><%= member.expiration_date %></td>
        <td><%= member.fee %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Renew', edit_member_path(member) %></td>
        <td><%= link_to 'Cancel', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
