<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @member.member_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Date joined:</strong>
  <%= @member.date_joined %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @member.expiration_date %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @member.fee %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
