<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @animal.animal_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Tank:</strong>
  <%= @animal.tank_id %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @animal.birth_date %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
