<p id="notice"><%= notice %></p>

<h1>Habitats</h1>

<table>
  <thead>
    <tr>
      <th>Habitat</th>
      <th>Name</th>
      <th>Description</th>
      <th>Year added</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @habitats.each do |habitat| %>
      <tr>
        <td><%= habitat.habitat_id %></td>
        <td><%= habitat.name %></td>
        <td><%= habitat.description %></td>
        <td><%= habitat.year_added %></td>
        <td><%= link_to 'Show', habitat %></td>
        <td><%= link_to 'Edit', edit_habitat_path(habitat) %></td>
        <td><%= link_to 'Destroy', habitat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habitat', new_habitat_path %>
